body {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container {
    margin-top: 50px;
    border: 1px solid #ccc;
    width: fit-content;
    padding: 20px;
   margin: auto;
   margin-top: 60px;
   background-color: #f4eeee;
   border-radius: 5px;
  }

  .container h2{
    text-align: center;
    margin-bottom: -20px;
    margin-top: -10px;
    color:  rgb(212, 137, 170);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    text-align: left;
    display: block;
    margin-bottom: -18px;
    
  }
  
  .input {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f0f0f0;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -13px;
  }

  .submit {
    padding: 10px 15px;
    border-radius: 5px;
     background-color: rgb(181, 213, 250) ; 
    border: none;
    color: black;
    cursor: pointer;
   width: 100%;
}

.submit:hover {
    background-color:  rgba(238,174,202,1); 
    color: white;
}
  